span.job-failed {
    background-color: red !important;
}

span.job-started {
    background-color: royalblue !important;
}

span.job-completed {
    background-color: green !important;
}

span.job-accepted {
    background-color: lightskyblue !important;
}