span.job-failed {
    background-color: red !important;
}

span.job-succeeded {
    background-color: royalblue !important;
}

span.job-running {
    background-color: green !important;
}

span.job-accepted {
    background-color: lightskyblue !important;
}